.audit-container{

padding:30px;
background:#f5f7fb;
min-height:100vh;
font-family:Arial;

}


h1{

color:#1e293b;

}


.description{

color:#64748b;
margin-bottom:25px;

}



.card{

background:white;
padding:25px;
border-radius:15px;
margin-bottom:25px;
box-shadow:0 5px 15px rgba(0,0,0,.08);

}



.form-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;

}



input{

padding:12px;
border:1px solid #ddd;
border-radius:8px;

}



button{

padding:10px 15px;
border:none;
border-radius:8px;
cursor:pointer;
margin:5px;

}



.verify{

background:#22c55e;
color:white;

}


.missing{

background:#ef4444;
color:white;

}


.damage{

background:#f59e0b;
color:white;

}


.close-btn{

background:#111827;
color:white;
width:220px;

}



table{

width:100%;
border-collapse:collapse;

}



th{

background:#f1f5f9;
padding:12px;

}



td{

padding:12px;
border-bottom:1px solid #eee;

}



.asset-img{

width:80px;
height:60px;
object-fit:cover;
border-radius:8px;
margin-top:10px;

}



.problem{

color:red;
font-weight:bold;

}



@media(max-width:900px){

.form-grid{

grid-template-columns:1fr;

}


}