.notification-content{

padding:30px;

}

.notification-content h1{

margin-bottom:25px;

}

.filter-tabs{

display:flex;

gap:18px;

margin-bottom:25px;

}

.filter-tabs button{

padding:10px 30px;

border-radius:10px;

border:1px solid #444;

background:#714B67;

color:white;

cursor:pointer;

font-size:15px;

transition:.3s;

}

.tab-active{

background:#3e2838 !important;

border-color:#22c55e !important;

}

.notification-list{

background:#714B67;

border-radius:12px;

overflow:hidden;

border:1px solid #333;

}

.notification-item{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 20px;

border-bottom:1px solid #353535;

}

.notification-item:last-child{

border-bottom:none;

}

.left{

display:flex;

align-items:center;

gap:15px;

}

.left p{

margin:0;

font-size:16px;

color:white;

}

.time{

color:#bbb;

font-size:14px;

}

.dot{

width:12px;

height:12px;

border-radius:3px;

display:inline-block;

}

.blue{

background:#3b82f6;

}

.green{

background:#22c55e;

}

.red{

background:#ef4444;

}

.orange{

background:#f59e0b;

}

.brown{

background:#92400e;

}

@media(max-width:768px){

.notification-item{

flex-direction:column;

align-items:flex-start;

gap:10px;

}

.filter-tabs{

flex-wrap:wrap;

}

.filter-tabs button{

flex:1;

}

}