.resource-container{

width:90%;
margin:30px auto;

}



h1,h2{

margin-bottom:20px;

}



.resource-select{

width:400px;

margin-bottom:30px;

}


label{

display:block;

font-weight:600;

margin-bottom:8px;

}



select,
input{

width:100%;

padding:12px;

border:1px solid #ccc;

border-radius:6px;

}




.calendar{

margin-top:20px;

}



.timeline{

border:1px solid #ddd;

}



.time-row{

display:flex;

height:70px;

border-bottom:1px solid #ddd;

}



.time{

width:100px;

padding:20px;

font-weight:bold;

}



.slot{

flex:1;

padding:10px;

}





.booking{

padding:10px;

background:#93c5fd;

border-radius:8px;

height:45px;

}





.booking.Cancelled{

background:#fca5a5;

}



.booking.Completed{

background:#86efac;

}



.booking.Ongoing{

background:#fde68a;

}





.booking-form{

margin-top:30px;

width:400px;

display:flex;

flex-direction:column;

gap:15px;

}



button{

background:#2563eb;

color:white;

border:none;

padding:12px;

border-radius:6px;

cursor:pointer;

}



.cancel{

background:#dc2626;

}



.message{

margin-top:20px;

padding:15px;

background:#dcfce7;

font-weight:bold;

}







.history{

margin-top:40px;

}



table{

width:100%;

border-collapse:collapse;

}



th,td{

padding:12px;

border:1px solid #ddd;

text-align:left;

}


th{

background:#f1f5f9;

}